.search-side{
    position: fixed;
    width: 300px;
    height: calc(100vh - 60px);
    bottom: 0;
    overflow: auto;
    box-shadow: 1px 0px 3px #bbadad;
}
.search-side .search-box{
    margin: 10px 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-side .search-box input[type="text"]{
    width: 90%;
    height: 40px;
    border: none;
    border-bottom: solid 1px #a39f9f;
    text-indent: 5px;
    background: none;
}
.search-side .search-box .btn-show-items{
    width: 40px;
    height: 40px;
    margin-left: 5px;
    display: none;
    font-size: 25px;
    background: none;
    color: black;
    border: none;
}
.search-side .list-items-documentation{
    transition: all 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
    overflow: hidden;
    width: 100%;
}
.search-side .list-items-documentation .item{
    height: 40px;
    transition: all 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.search-side .list-items-documentation .hide-item{
    height: 0;
    overflow: hidden;
}
.search-side .list-items-documentation .item a{
    position: relative;
    display: block;
    height: 40px;
    line-height: 40px;
    color: #000000;
    font-size: 15px;
    cursor: pointer;
    margin-left: 15px;
}
.search-side .list-items-documentation .item a::before{
    position: absolute;
    content: '';
    width: 0px;
    height: 2px;
    background-color: #000000;
    bottom: 0;
    left: 0;
    transition: all 200ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
.search-side .list-items-documentation .item .item-active::before{
    width: 30px;
}
.search-side .list-items-documentation .item a:hover::before,
.search-side .list-items-documentation .item a:focus::before{
    width: 30px;
}
.content-documentation{
    width: calc(100% - 300px);
    margin-right: 0;
    margin-left: auto;
}

.content-documentation .title-documentation{
    font-size: 27px;
    font-weight: 300;
    padding: 33px 59px 0px;
}
.content-documentation .sub-title-documentation{
    font-size: 17px;
    font-weight: 300;
    padding: 13px 59px 23px;
}
.content-documentation .section-documentation{
    height: auto;
    padding: 20px 59px;
    max-width: 800px;
    overflow: auto;
}
.content-documentation .section-documentation .title-section-documentation{
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 20px;
}
.content-documentation .section-documentation .simple-documentation-table{
    width: 100%;
    max-width: 800px;
    height: auto;
    border-collapse: collapse;
}
.content-documentation .section-documentation .simple-documentation-table tr{
    height: 40px; 
}
.content-documentation .section-documentation .simple-documentation-table .table-head td{
    font-weight: 600;
}
.content-documentation .section-documentation .simple-documentation-table tr td{
    padding: 15px;
    text-align: left;
    border: solid 1px #e0dada;
}
.content-documentation .section-documentation .demonstration-documentation{
    width: 100%;
    height: auto;
    border-radius: 12px;
}
.content-documentation .section-documentation .demonstration-documentation:not(:first-of-type){
    margin-top: 20px;
}
.content-documentation .section-documentation .demonstration-documentation .title-demonstration-documentation{
    width: 100%;
    height: auto;
    padding: 10px 0;
}
.content-documentation .section-documentation .demonstration-documentation .multi-line-code-field-demonstration{
    width: 100%;
    text-align: left;
}
.content-documentation .section-documentation .demonstration-documentation .multi-line-code-field-demonstration,
.content-documentation .section-documentation .demonstration-documentation .code-field-demonstration{
    overflow: auto;
    background-color: #272822;
    border-radius: 12px;
    position: relative;
}

.multi-line-code-field-demonstration,
.code-field-demonstration,
.multi-line-code-field-demonstration span,
.code-field-demonstration span{
    font-family: "Courier New" !important;
}

.copied-code .multi-line-code-field-demonstration,
.copied-code .code-field-demonstration{
    overflow: hidden !important;
}
    .copied-code .code-field-demonstration::before{
        position: absolute;
        top: 0;
        right: 34px;
        content: '';
        width: 50px;
        height: 50px;
        background-color: #fc814a;
        color: white;
        z-index: 2;
        border-radius: 100%;

        animation: animation-copied 500ms ease;
    }
    @keyframes animation-copied{
        0%{
            transform: scale(0);
            opacity: 1;
        }
        100%{
            transform: scale(5);
            opacity: 0;
        }
    }
.content-documentation .section-documentation .demonstration-documentation .code-field-demonstration{
    height: auto;
    padding: 10px 20px;
    color: white;
    font-size: 20px;
}
    /*sinais, caracteres, etc*/
    .content-documentation .section-documentation .signal{
        color: #f92672;
    }
    .content-documentation .section-documentation .caractere{
        color: #e6db74;
    }
    .content-documentation .section-documentation .variable-type{
        color: #ae81ff;
    }
    .content-documentation .section-documentation .method{
        color: #5ab6ac;
        font-style: oblique;
    }
    .content-documentation .section-documentation .comment{
        color: #606e59 ;
    }
    .content-documentation .section-documentation .w{
        color: #ffffff ;
    }
    .content-documentation .section-documentation .line-down{
        display: block;
        padding-top: 15px;
    }
     
.content-documentation .section-documentation .demonstration-documentation .code-field-demonstration .top-copy{
    width: 100%;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 10px;
}
.content-documentation .section-documentation .demonstration-documentation .code-field-demonstration .top-copy button{
    width: 80px;
    height: 25px;
    color: white;
    border: none;
    background: none;
    text-transform: uppercase;
    font-size: 11px;
    cursor: pointer;
    transition: all 250ms ease;
    position: relative;
    z-index: 3;
}
.content-documentation .section-documentation .demonstration-documentation .code-field-demonstration .top-copy button i{
    margin-right: 5px;
}

/*responsividade*/
@media screen and (max-width: 750px){
    .search-side{
        width: 100%;
        position: static;
        height: auto;
        border: none;
    }
    .content-documentation{
        width: 100%;
        margin: 10px 0 0 0;
    }
    .search-side .list-items-documentation{
        width: 90%;
    }
    .search-side .search-box input[type="text"]{
        width: calc(90% - 40px);
    }
    .search-side .search-box .btn-show-items{
        display: block;
    }
    .doc-items-closed .search-side .list-items-documentation{
        height: 0 !important;
    }
    .content-documentation .title-documentation{
        padding: 33px 20px 0px;
    }
    .content-documentation .sub-title-documentation{
        padding: 13px 20px 23px;
    }
    .content-documentation .section-documentation{
        padding: 20px 20px;
    }
}