#footer{
    margin-top: 20px;
    width: 100%;
    height: 200px;
    background: #c31432;
    background: -webkit-linear-gradient(to top, #112F41, #068587);
    background: linear-gradient(to top, #112F41, #068587); 

}