#content{
    margin-top: 60px;
    min-height: calc(100vh - 50px);
}
.has-under-header #content{
    margin: 0 !important;
}
.has-under-header #header{
    background-color: transparent !important;
}
.colored-header #header{
    background-color: #FC814A !important;
}
.under-header-section{
    height: 300px;
    width: 100%;
    background-color: aqua;
    position: relative;
    background-image: url("../img/ex_i.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.under-header-section::before{
    position: absolute;
    left: 0;
    bottom: -1px;
    content: '';
    width: 0;
    height: 0;
    border-bottom: 30px solid #ffffff;
    border-left: 100vw solid transparent;
    z-index: 2;
}
.under-header-section::after{
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #F28C44;
    opacity: .35;
    z-index: 1;
}

.centering-section{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    width: 100%;
    height: auto;
    background-color: #ffffff;
}
.centering-section:nth-child(3){
    margin-top: 30px;
}
.centering-section .top-triangle{
    width: 100%;
    height: 30px;
    overflow: hidden;
    position: absolute;
    top: -30px;
}
.centering-section .top-triangle::before{
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    top: 1px;
    border-left: 100vw solid transparent;
}
.centering-section:nth-child(even) .top-triangle::before{
    border-bottom: 30px solid #ffffff;
}.centering-section:nth-child(odd) .top-triangle::before{
    border-bottom: 30px solid #f9f9f9;
}
.centering-section:nth-child(odd){
    background-color: #f9f9f9;
}
.title-home-section{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 50px;
}
.group-caracteristicas{
    display: flex;
    width: 90%;
    flex-wrap: wrap;
    max-width: 780px;
    justify-content: center;
    margin-top: 20px;
}

.group-caracteristicas .caracteristica-box{
    width: 250px;
    height: 250px;
    margin: 5px;
    display: flex;
    justify-content: center;
    flex-flow: row;
    flex-wrap: wrap;
    user-select: none;
}
.group-caracteristicas .caracteristica-box img{
    width: 100px;
}
.group-caracteristicas .caracteristica-box span{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    padding: 0 5px;
    color: #FC814A;
    font-weight: 500;
}
.steps .download-btn{
    margin-top: 52px;
}
/*fluxograma*/
.steps{
    width: 100%;
    max-width: 840px;
    height: auto;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    margin: 10px 0;
}
.steps .gp-side{
    width: 100%;
    height: auto;
    display: flex;
    margin-top: 52px;
    flex-flow: column-reverse;
    flex-wrap: wrap;
    align-items: center;
}
.steps .steps-side{
    /*height: fit-content;*/
    position: relative;
    /*box-shadow: 2px 3px 8px #c3b7b7;*/
    border-radius: 10px;
    transition: all 200ms ease;

    width: 95%;
    display: flex;
    flex-flow: column;
    margin: 10px;
    border-top: solid 1px;
}
.steps .steps-side:nth-child(1){
    border-top-color: #4CB7E5;
}
.steps .steps-side:nth-child(2){
    border-top-color: #59e54c;
}

/*.steps .steps-side:hover{
    box-shadow: 0px 0px 8px #c3b7b7;
}*/
.steps .steps-side .steps-side-stage{
    width: auto;
    height: auto;
    border-left: solid 2px #F28C44;
    margin: 10px 10px;
    padding: 10px;
    overflow: hidden;
}
.steps .steps-side .steps-side-stage:last-child{
    margin: 10px 10px 30px 10px;
}
.steps .steps-side .steps-side-stage .bold-text-stage{
    font-weight: 700;
    display: block;
}
.bold-text-stage-inline{
    font-weight: 700;
    display: inline-block;
}
.steps .steps-side .steps-side-stage .sub-stage{
    width: auto;
    height: auto;
    border-left: solid 2px #F28C44;
    margin: 10px 0;
    padding: 10px;
    margin-left: 10px;
}
.steps .steps-side .side-of{
    display: inline-block;
    width: 150px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    user-select: none;
    position: relative;
    left: 50%;
    margin-left: -75px;
    margin-bottom: 25px;
    margin-top: 25px;
}
.steps .steps-side .so-windows{
    color: #4CB7E5;

}
.steps .steps-side .so-linux{
    color: #59e54c;
}
.steps .steps-side .btn-link-download{
    margin: 15px 0;
    display: block;
    width: 150px;
    height: 40px;
    background-color: #47ce45;
    color: #ffffff;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    line-height: 40px;
    word-spacing: 4px;
    user-select: none;
    border-radius: 21px;
}

/*animar items no scroll*/
.before-animate-on-scroll{
    transform: translateY(-20px);
    opacity: 0;
    transition: all 700ms cubic-bezier(0.215, 0.610, 0.355, 1);
}
.after-animate-on-scroll{
    transform: translateY(0px);
    opacity: 1;
}

@media screen and (max-width: 750px){
    .steps .third-line,
    .steps .fourth-line,
    .steps .fifth-line{
        display: none;
    }
    .steps .steps-side{
        align-items: center;
    }
    .steps .steps-side .btn-link-download{
        width: 100%;
    }
    .steps .steps-side .side-of{
        left: 0;
        margin-left: 0;
    }
    .steps .steps-side .steps-side-stage{
        width: 90%;
    }
}

/*Dica sobre a existência do menu*/
#menu-tip{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
}
#menu-tip:after{
    position: absolute;
    content: '';
    width: 70px;
    height: 70px;
    box-shadow: 0 0 0 10000px #000000a6;
    border-radius: 50%;
    right: 9px;
    top: -4px;
}
#menu-tip #menu-tip-message{
    position: absolute;
    z-index: 1;
    right: 90px;
    top: 10px;
    padding: 10px;
    display: flex;
    flex-flow: column;
}
#menu-tip #menu-tip-message span{
    background-color: white;
    text-transform: uppercase;
    font-size: 13px;
    padding: 10px;
}
#menu-tip #menu-tip-message button{
    display: block;
    width: 100px;
    height: 35px;
    border: none;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 10px;
    background-color: #FC814A;
    color: white;
}

@media screen and (max-width: 750px){
    #menu-tip:after{
        width: 70px;
        height: 70px;
        right: 1px;
    }
    #menu-tip #menu-tip-message{
        right: 80px;
    }
}

.inicial-page-tip{
    overflow: hidden;
}

.menu-tip-ok{
    overflow: auto;
}
.menu-tip-ok #menu-tip{
    display: none !important;
}