.projetos-all{
    display: flex;
    justify-content: center;
    flex-flow: row;
}
.projetos-cards{
    /*margin: 40px 0;*/
    width: 90%;
    height: auto;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-auto-rows: 250px;
    justify-content: space-around;
}
.projetos-cards .card-projeto{
    margin: 20px 0;
    position: relative;
    overflow: hidden;
}
.projetos-cards .card-projeto:hover .back-img{
    transform: scale(1.1);
}
.projetos-cards .card-projeto .back-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.projetos-cards .card-projeto .back-img .touch-ico{
    display: none;
}
@media screen and (max-width: 600px){
    .projetos-cards .card-projeto .back-img .touch-ico{
        position: absolute;
        left: calc(50% - 40px);
        top: calc(50% - 60px);
        z-index: 3;
        display: block;
        width: 80px;
        height: 80px;
        background-image: url("../img/icons/svg/touch.svg");
        background-size: 100%;

        animation-name: animaTouch;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }
    .projetos-cards .card-projeto:hover .back-img .touch-ico{
        display: none;
    }
    @keyframes animaTouch{
        0%{
            transform: scale(1);
            opacity: 0;
        }
        79%{
            opacity: 0;
        }
        80%{
            transform: scale(1.01);
            opacity: 1;
        }
        100%{
            transform: scale(1.1);
            opacity: 0;
        }
    }
}

.projetos-cards .card-projeto .back-img::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #403d3d;
    opacity: .65;
}
.projetos-cards .card-projeto .back-img > .img{
    width: 100%;
    height: 100%;
    
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.projetos-cards .card-projeto .content{
    width: 100%;
    height: 100%;
    position: absolute;
    top: calc(100% - 50px);
    left: 0;
    transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
} 
.projetos-cards .card-projeto .content > div{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
}
.projetos-cards .card-projeto .content::after{
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    background-color: #fc814a;
    z-index: 1;
    transition: all 200ms cubic-bezier(0.075, 0.82, 0.165, 1);
}
.projetos-cards .card-projeto:hover .content{
    top: 0;
}
.projetos-cards .card-projeto:hover .content::after{
    opacity: .65;
}
.projetos-cards .card-projeto .content .top{
    width: 100%;
    display: flex;
    flex-flow: row;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
}
.projetos-cards .card-projeto .content .top .nome{
    width: calc(100% - 80px);
    color: white;
    padding: 0 15px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.projetos-cards .card-projeto .content .top .git-link{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.projetos-cards .card-projeto .content .top .git-link > svg{
    width: 30px;
}
.projetos-cards .card-projeto .content .top .git-link > svg path{
    fill: white !important;
}
.projetos-cards .card-projeto .content .desc{
    color: white;
    font-size: 13px;    
    padding: 0 15px;

    line-height: 20px;
    word-break: break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 8;
    -moz-line-clamp: 8;
    -ms-line-clamp: 8;
    line-clamp: 8;
    overflow: hidden;

    height: calc(100% - 50px);
    cursor: default;
}
@media screen and (max-width: 900px){
    .projetos-cards{
        grid-template-columns: 45% 45%;
    }
}
@media screen and (max-width: 600px){
    .projetos-cards{
        grid-template-columns: 90%;
    }
}